@page

@using Turmerik.Core.Helpers
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.AppConfig
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.Pages

@model ExplorerModel
@inject IAppSettings appSettings;
@inject IDriveItemMacrosService driveItemMacrosService;
@inject IDriveItemNameMacrosService driveItemNameMacrosService;

@{
    ViewData["Title"] = "Explorer";
    string appSettingsJson = JsonSrlzH.ToJson(appSettings);

    var driveItemNameMacros = driveItemNameMacrosService.GetDriveItemNameMacros();
    string driveItemNameMacrosJson = JsonSrlzH.ToJson(driveItemNameMacros);

    var driveItemMacros = driveItemMacrosService.GetDriveItemMacros();
    string driveItemMacrosJson = JsonSrlzH.ToJson(driveItemMacros);
}

@section Scripts {
    <script>
        window["trmrkDOMContentLoaded"] = () => {
            let username = "@User.Identity?.Name";
            console.log("Initializing app for user " + username);

            window.trmrk.driveExplorer.init(
                username,
                @Html.Raw(appSettingsJson),
                @Html.Raw(driveItemNameMacrosJson),
                @Html.Raw(driveItemMacrosJson));
        }
    </script>

    <script src="~/js/pages/explorerPage.js" asp-append-version="true" type="module"></script>
}

@using System.Security.Principal
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.Services

@if (User.Identity?.IsAuthenticated == true)
{
    <h2>@ViewData["Title"]</h2>
}
else
{
}